div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 1em;
    color: lightgrey;
    background-color: teal;
    clear: left;
    text-align: left;
}
.name {
    background-color: cadetblue;
    width: fit-content;
    left: 20%;
    height: 100%;
    position: relative;
    display: flex; // Used for vertical alignment
    align-items: center; // Used for vertical alignment
    padding: 20px;
    box-sizing: border-box;
    float: left;
    text-align:center;
}
footer{
    padding: 1em;
    color: lightgrey;
    background-color: grey;
    clear: left;
    text-align: center;
}
* {
    box-sizing: border-box;
  }
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 320px;
    border-left: 0px solid gray;
    padding: 1em;
    overflow: hidden;
}